
/*atsiliepimai*/
#quoteCarousel {
    --carousel-button-svg-width: 36px;
    --carousel-button-svg-height: 36px;
  
    --carousel-button-svg-stroke-width: 1;
  }
  
  /*atsiliepimo varnele*/
  #quoteCarousel blockquote {
    position: relative;
  }
  
  #quoteCarousel blockquote:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 16px solid var(--grey);
    border-right: 16px solid transparent;
    position: absolute;
    bottom: -16px;
    left: 24px;
  
   /* filter: drop-shadow(0.2em 0.2em 0.1em rgb(66, 66, 66))
      drop-shadow(-0.2em 0.2em 0.1em rgb(66, 66, 66));
    */
  }
  
  /*mygtukas slider desne/kaire*/
  #quoteCarousel::before,
  #quoteCarousel::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5rem;
  }
  
  #quoteCarousel::before {
    left: 0;
    background: linear-gradient(270deg, hsla(0, 0%, 100%, 0) 0, var(--white) 90%, var(--white));
  }
  
  #quoteCarousel::after {
    right: 0;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, var(--white) 90%, var(--white));
  }
  
  .carousel__button {
    z-index: 10;
  }

  /*mano papildyti*/
  .carousel__track {
      flex: 33.333%;
      max-width: 40%;
      box-sizing: border-box;
  }
  

  figcaption {
    font-weight: bold;
    padding-top: 15px;
   
  }

  /*reaguoja logo Klientai i h2 pakeitimus*/
  .atsiliepimai h2 {
    text-align: center;
    background-color: var(--grey);
    padding: 35px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 30px;
  }
.bg-white {
    background-color: var(--grey);
    border-radius: 10px;
    padding: 20px;
    line-height: 1.625;
}
blockquote {
    margin: 15px 0; 
    filter: 
      drop-shadow(-0.2em 0.2em 0.1em rgb(66, 66, 66));
}
figure {
    margin: 5px;
  }
  figcaption {
    text-shadow: none;
  }

  @media all and (max-width:960px) {
    .carousel__track {
    flex: 100%;
    max-width: 100%;
  }
}
  

  