a[data-fancybox] img {
  cursor: zoom-in;
}

.gallery h2 {
  text-align: center;
 /*background-color: #cac6c4;*/
  padding: 35px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 30px;
  font-weight: 500;
  border: 0;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 5px;
}

figure {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

figure a {
  color: black;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(255,255,255,.5);
  padding: 5px 5px;
  justify-self: start;
}

.container-mason {
  column-count: 5;
  column-gap: 10px;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 25px;
}


/*galerija button*/
button,
select {
  text-transform: none;
  background-color: var(--brown);
  border: none;
  color: var(--white);
  
  margin: 20px auto;
  display: block;
  height: 50px;
  width: 100px;
  border-radius: 10px;
  width: calc(15% - 5px);
  line-height: 1.425;
}
button:hover,
select:hover {
background-color: var(--lightblack);
transition: 0.4s ease-in-out;
}



  @media only screen and (max-width: 820px) {
    .container-mason {
      column-count: 4;
      width: 95%;
    }

  @media only screen and (max-width: 650px) {
    .container-mason {
      column-count: 2;
      width: 70%;
    }
    .gallery h2{
      padding: 15px;
      font-size: 15px;
      line-height: 1.4;
      letter-spacing: 0.05em;
    }
    button, select {
      width: calc(45% - 15px);
    }

  @media only screen and (max-width: 350px) {
        .container-mason {
          column-count: 1;
          width: 85%;
        }
  
